Back/MyWork/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Back/MyWork/obj/Debug/net9.0/MyWork.AssemblyInfo.cs
Back/MyWork/obj/Debug/net9.0/MyWork.AssemblyInfoInputs.cache
Back/MyWork/obj/Debug/net9.0/MyWork.assets.cache
Back/MyWork/obj/Debug/net9.0/MyWork.csproj.AssemblyReference.cache
Back/MyWork/obj/Debug/net9.0/MyWork.GeneratedMSBuildEditorConfig.editorconfig
Back/MyWork/obj/Debug/net9.0/MyWork.GlobalUsings.g.cs
Back/MyWork/obj/Debug/net9.0/staticwebassets.removed.txt
Back/MyWork/obj/MyWork.csproj.nuget.dgspec.json
Back/MyWork/obj/MyWork.csproj.nuget.g.props
Back/MyWork/obj/MyWork.csproj.nuget.g.targets
Back/MyWork/obj/project.assets.json
Back/MyWork/obj/project.nuget.cache
Back/MyWork/obj
Back/MyWork/bin
Back/.vs
Back/.vs/MyWork/FileContentIndex/86d0f4c5-f162-4487-9046-2b1ded3cf847.vsidx
